html{
	font-size: 10px;
}
.background{
	position:relative;
	margin-bottom:5px;
	margin-top:5px;
	overflow:hidden;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}
.table{
	width:100%;
	height:100px;
}
.table-line{
	position:relative;
	text-align:center;
	border-style:solid; 
	border-width:thin;
	transition:margin-top 1s;
	background-color:#EEE5DE;
	border-color:#B03060;
	z-index:1;
}
.table-line:hover .content-activity img{
	margin-top:-100px;
}
.table-line p{
	font-size:18px;
	line-height:8px;
}
.table-line div{
	padding-top:4px;
}

.title_ {
	/* float: left; */
	margin-right:40rem; 
	margin-bottom:2rem; 
}
.activity{
	width:60%;
}
.left-img{
	position:absolute;
	left:150px;
	width:100px;
	height:100px;
}
.right-img{
	position:absolute;
	right:150px;
	width:100px;
	height:100px;
}
.content-activity{
	overflow:hidden;
	width:380px;
	height:415px;
	margin-right:15px;
	top:68px;
	position:absolute;
	right:0;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}
.content-activity img{
	transition:margin-top 1s;
	width:380px;
	height:415px;
	position:absolute;	
}

div.img {
	overflow: hidden;
	background-color: #EEE5DE;
}

div.img img {
	width: 100%;
	height: 320px ;
}

.image {
	float: left;
	margin: 5px;
	width: 232.5px;
	height: 400px;
}

.image-nohover {
	float: left;
	margin: 5px;
	width: 232.5px;
	height: 400px;
}

.image:hover>.responsive {
	margin-left: -100%;
}

div.desc {
	padding: 5px;
	text-align: center;
}

div.desc p {
	margin: 0;
	padding: 0;
	line-height: 20px;
}

.responsive {
	position: relative;
	transition: margin-left 1s;
	padding: 0;
	width: 100%;
	z-index: 1;
}

@media only screen and (max-width: 700px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}
}

@media only screen and (max-width: 500px) {
	.responsive {
		width: 100%;
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#activity-arrange div img{
	float: right;
	margin-top: 2rem;
	width: 35%;
	height: 45rem;;
}

._title{
	margin-right: -1rem;
	margin-bottom: 2rem;
}